<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.kbat.mapper.UserMapper">

	<resultMap id="userMap" type="edu.kosmo.kbat.vo.UserVO">
	    <result property="username" column="username"/>
	    <result property="password" column="password"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap id="authMap" type="edu.kosmo.kbat.vo.AuthVO">
		<result property="username" column="username"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="getUser" resultMap="userMap">
		select member.member_id as "username", member.password, authority.authority_name as "authority", 1 as "enabled" 
		from member, authority 
		where member.member_number = authority.member_number and member.member_id = #{username}
	</select>
	

</mapper>
